.idea/
.gradle/
build/
obj/
*.iml
local.properties
*.keystore
gradle.properties

TMessagesProj/.idea/
TMessagesProj/.gradle/
TMessagesProj/build/
TMessagesProj/obj/
TMessagesProj/libs/
TMessagesProj/*.properties
TMessagesProj/*.keystore
TMessagesProj/*.iml
TMessagesProj/*.apk

TMessagesProj/src/main/java/org/telegram/messenger/BuildVars.java
